.user {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: max-content;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  color: #333;
}

.avatar {
  width: 10rem;
  height: 10rem;
}

.username {
  margin-left: 1rem;
  font-size: 5rem;
}

.user:hover {
  background-color: aquamarine;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 700px) {
  .user {
    flex-direction: column;
  }
  .username {
    font-size: 2rem;
  }
}
